/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a{
     font-size: 18px !important;
     font-weight: 600;
     color:#3f3f3f; 
     text-align: center;  
 }
 .logo{

    width: 150px !important;
    height: 150px !important;
   margin-top: -25px;
  }
  #menu{
    margin-bottom: -40px;
 
 }

/*===================HEADER==========================*/

#img-header{
    width: 400px;
}

/*===================PRESENTACIÓN==========================*/

 #presentation p{
     font-size: 20px !important;
     font-weight: 500;  
 }

/*===================BACKGROUND IMAGE==========================*/ 
 #background {
    background: url(../../Assets/Index/Background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
 }

/*=========================FOOTER================================*/
footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos     {
    text-align: center   
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES SCREEN MAX================================*/
@media (max-width: 1600px){
     #razas {
            margin-top: 5px !important;
        }

    #razas img{
            width: 436px;
            height: 220px;
        }
}
/*=========================MEDIA QUERIES SCREEN MAX================================*/
@media (max-width: 1400px){
     #razas {
            margin-top: 5px !important;
        }

    #razas img{
            width: 376px;
            height: 220px;
        }
}
/*=========================MEDIA QUERIES SCREEN EXTRA ANCHA================================*/
@media (max-width:1200px){

    #img-header {
            width: 400px !important;
        }

    #presentation p{
            font-size: 16px;
        }

     #razas {
            margin-top: 5px !important;
        }

    #razas img{
            width: 315px;
            height: 200px;
        }
}

/*=========================MEDIA QUERIES SCREEN ANCHA================================*/

@media (max-width:992px){

    #presentation {
        width:90% !important;
        margin:auto;
    }
#navbarNavAltMarkup {
           margin-left: 60px;
           margin-top: -35px;
    }
    #img-header {
            width: 350px !important;
        }

    #presentation p{
            font-size: 16px;
        }

     #razas {
            margin-top: 5px !important;
        }

    #razas img{
            width: 355px;
            height: 200px;
        }
        .logo{

            width: 150px !important;
            height: 150px !important;
           margin-top: 0px;
          }
          #menu{
            margin-bottom: 0px;
         


}
/*=========================MEDIA QUERIES SCREEN SM================================*/

@media (max-width:768px) {

    #presentation {
        width: 90% !important;
        margin: auto;
    }

    #img-header {
            width: 300px !important;
        }

    #presentation p{
            font-size: 15px;
        }
#navbarNavAltMarkup {
           margin-left: 70px;
           margin-top: -35px;
    }
     #razas {
            margin-top: 5px !important;
        }

    #razas img{
            width: 400px;
            height: 250px;
        }
}
/*=========================MEDIA QUERIES SCREEN EXTRA-SM================================*/
@media (max-width: 576px) {
   
     #img-header {
            width: 250px !important;
        }
#navbarNavAltMarkup {
           margin-left: 60px;
           margin-top: -35px;
    }
    #presentation p{
            font-size: 14px;
        }

    #razas {
            margin-top: 5px !important;
        }

    #razas img{
            width: 400px;
            height: 250px;
        }
    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
        }
    }
    